{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Producents
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for producent in shop.producent.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ producent.logo }}</td>
                        <td>{{ producent.name }}</td>
                        <form action="{% url 'producent_delete' producent.pk %}" method="POST">
                          {% csrf_token %}
                          <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </form>
                    </tr>
                    {% endfor %}
              </table>    
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Magazine
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Address</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for magazine in shop.magazine.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ magazine.address }}</td>
                        <form action="{% url 'magazine_delete' magazine.address %}" method="POST">
                          {% csrf_token %}
                          <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </form>
                    </tr>
                    {% endfor %}
            </table>    
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Assortment
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Magazine</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                  </tr>
                </thead>
                <tbody>
                    {% for magazine in shop.magazine.iterator %}
                        {% for assortment in magazine.assortment.iterator %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ magazine.address }}</td>
                        <td>{{ assortment.product.name }}</td>
                        <td>{{ assortment.quantity }}</td>
                        <td>{{ assortment.product.price }}</td>
                        <td>{{ assortment.category }}</td>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>
                        {% endfor %}
                    {% endfor %}
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
