{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/password.css' %}">
&nbsp;
<div class="container">
	<div class="d-flex justify-content-center">
		<div class="card">
			<div class="card-header">
				<h3>Reset your password</h3>
			</div>
			<div class="card-body">
        <p id="email-reset-message">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
