{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
&nbsp;
{% for message in messages %}
<div class="alert alert-warning col-4 offset-4">
  <div class="text-center">
    {{ message }}
  </div>
</div>
{% endfor %}
<div class="main-body">
        <div class="row gutters-sm">
        <div class="col-md-4">
            <div class="card">
            <div class="card-body">
                <div class="align-items-center text-center">
                {% if customer_profile is None %}
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                {% else %}
                <img src="{{ customer_profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                {% endif %}
                <div class="mt-4">
                    <h4>{{ request.user }}</h4>
                    <a href="{% url 'customer_edit' %}"><button class="btn btn-primary">Edit Profile</button></a>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{customer.customer.first_name}}&nbsp;{{customer.customer.last_name}}
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{customer.customer.email}}
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {% if customer_profile is None %}
                         Not filled
                    {% else %}
                         {{ customer_profile.phone_number }}
                    {% endif %}
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{customer.address}}
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}
