body {
    background-image: linear-gradient(270deg, #161326 0%, #1de2e9 100%);
}

.container {
    margin: auto;
}

#id_email {
    display: block;
    width: 100%;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    max-width: 250px;
}

#email-reset-message {
    text-align: center; 
    max-width: 350px;
}

#password-set-message {
    text-align: center; 
    max-width: 400px;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #118a1f;
    color: white;
  }
