<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% load tags %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}">Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto pr-lg-1">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      {% if not request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Log In</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'customer_login' %}">Customer</a>
              <a class="dropdown-item" href="{% url 'employee_login' %}">Employee</a>
              <a class="dropdown-item" href="{% url 'owner_login' %}">Owner</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Register</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'customer_register' %}">Customer</a>
              <a class="dropdown-item" href="{% url 'employee_register' %}">Employee</a>
            </div>
          </li>
      {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            {% if request.user|is_employee %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'employee_dashboard' %}">Employee Panel</a>
            </li>
            {% endif %}
            {% if request.user|is_owner %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'owner_dashboard' %}">Owner panel</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ request.user }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                {% if request.user|is_employee %}
                <a class="dropdown-item" href="{% url 'employee_settings' %}">Settings</a>
                {% elif request.user|is_owner %}
                <a class="dropdown-item" href="{% url 'owner_settings' %}">Settings</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'customer_settings' %}">Settings</a>
                {% endif %}
              </div>
            </li>
          </ul>
      {% endif %}
      <div class="cart">
        {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            Your cart: 
            <a href="{% url "cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
            Your cart is empty.
          {% endif %}
        {% endwith %}
      </div>
  </nav>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
